<?xml version="1.0" ?>
<!--
  ~ @author      Olegnax
  ~ @package     Olegnax_InstagramFeedPro
  ~ @copyright   Copyright (c) 2021 Olegnax (http://olegnax.com/). All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="core_layout_render_element">
		<observer name="olegnax_instagramfeedpro_observer_frontend_core_layoutrenderelement_core_layout_render_element"
				  instance="Olegnax\InstagramFeedPro\Observer\Frontend\Core\LayoutRenderElement"/>
	</event>
</config>