<?xml version="1.0"?>
<!--suppress CheckTagEmptyBody -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <olegnax_instagram_pro>
            <general>
                <enabled>1</enabled>
                <block_time>0</block_time>
                <requests_history>[]</requests_history>
            </general>
            <oauth>
                <authorize><![CDATA[https://olegnax.com/extras/social-connect-plus/instagram/authorize]]></authorize>
                <refresh><![CDATA[https://olegnax.com/extras/social-connect-plus/instagram/refresh]]></refresh>
            </oauth>
            <oauth_graph>
                <authorize><![CDATA[https://olegnax.com/extras/social-connect-plus/facebook/authorize]]></authorize>
                <refresh><![CDATA[https://olegnax.com/extras/social-connect-plus/facebook/refresh]]></refresh>
            </oauth_graph>
            <cron>
                <enabled>1</enabled>
                <enabled_only_new>0</enabled_only_new>
            </cron>
            <modal>
                <next_prev>1</next_prev>
                <show_date>1</show_date>
                <show_caption>1</show_caption>
                <show_likes>1</show_likes>
                <show_comments>1</show_comments>
                <show_share>1</show_share>
                <show_follow>1</show_follow>
                <related_layout>list</related_layout>
                <show_price>1</show_price>
                <show_tocart>1</show_tocart>
                <show_wishlist>1</show_wishlist>
            </modal>
            <product_page>
                <show_content_custom>0</show_content_custom>
                <custom_content_position></custom_content_position>
                <content_custom_ratio></content_custom_ratio>
                <two_columns>1</two_columns>
                <valign_center>1</valign_center>
                <revert_position>1</revert_position>
                <content_custom></content_custom>
                <content_custom2></content_custom2>
            </product_page>
        </olegnax_instagram_pro>
        <olegnax_instagram_pro_appearance>
            <general>
                <enabled>1</enabled>
                <inline_css>0</inline_css>
                <dynamic_file_arg_enable>1</dynamic_file_arg_enable>
            </general>
            <feed>
                <overlay_color></overlay_color>
                <media_bg></media_bg>
                <text_color></text_color>
                <icons_style></icons_style>
                <media_icons_style></media_icons_style>
                <icons_color></icons_color>
                <icons_bg></icons_bg>
                <slider_nav_style></slider_nav_style>
                <slider_nav_position>outside</slider_nav_position>
                <slider_arrow_color></slider_arrow_color>
                <slider_arrow_bg></slider_arrow_bg>
                <slider_arrow_color_hover></slider_arrow_color_hover>
                <slider_arrow_bg_hover></slider_arrow_bg_hover>
                <slider_dots_style></slider_dots_style>
                <slider_dots_color></slider_dots_color>
                <slider_dots_color_active></slider_dots_color_active>
                <album_slider_nav_style></album_slider_nav_style>
                <album_slider_arrow_color></album_slider_arrow_color>
                <album_slider_arrow_bg></album_slider_arrow_bg>
                <album_slider_arrow_color_hover></album_slider_arrow_color_hover>
                <album_slider_arrow_bg_hover></album_slider_arrow_bg_hover>
                <album_slider_dots_style></album_slider_dots_style>
                <album_slider_dots_color></album_slider_dots_color>
                <album_slider_dots_color_active></album_slider_dots_color_active>
                <media_icons_color></media_icons_color>
                <button_color></button_color>
                <button_bg></button_bg>
                <button_color_hover></button_color_hover>
                <button_bg_hover></button_bg_hover>
                <button_border_radius></button_border_radius>
                <button_border_color></button_border_color>
            </feed>
            <hotspots>
                <marker_style>default</marker_style>
                <hotspot_text_icon></hotspot_text_icon>
                <hotspot_text></hotspot_text>
                <hotspot_text_fontsize></hotspot_text_fontsize>
                <hotspot_text_fontweight></hotspot_text_fontweight>
                <hotspot_text_letterspacing></hotspot_text_letterspacing>
                <hotspot_width></hotspot_width>
                <hotspot_height></hotspot_height>
                <hotspot_color></hotspot_color>
                <hotspot_bg></hotspot_bg>
                <hotspot_pulse>0</hotspot_pulse>
                <hotspot_pulse_color></hotspot_pulse_color>
                <hotspot_shadow>0</hotspot_shadow>
                <hotspot_shadow_color></hotspot_shadow_color>
                <hotspot_radius>0</hotspot_radius>
                <hotspot_mobile></hotspot_mobile>
            </hotspots>
            <hotspot_tooltips>
                <tooltip_text_color></tooltip_text_color>
                <tooltip_bg_color></tooltip_bg_color>
                <tooltip_border_radius></tooltip_border_radius>
                <tooltip_shadow_color></tooltip_shadow_color>
                <tooltip_width></tooltip_width>
                <tooltip_font_size></tooltip_font_size>
                <tooltip_font_weight></tooltip_font_weight>
            </hotspot_tooltips>
            <tooltips>
                <tooltip_text_color></tooltip_text_color>
                <tooltip_bg_color></tooltip_bg_color>
                <tooltip_border_radius></tooltip_border_radius>
                <tooltip_width></tooltip_width>
                <tooltip_font_size></tooltip_font_size>
                <tooltip_font_weight></tooltip_font_weight>
            </tooltips>
            <modal>
                <width></width>
                <bg_color></bg_color>
                <shadow_color></shadow_color>
                <border_radius></border_radius>
                <dividers_color></dividers_color>
                <text_color></text_color>
                <media_bg_color></media_bg_color>
                <media_margin></media_margin>
                <links_color></links_color>
                <links_color_hover></links_color_hover>
                <icons_color></icons_color>
                <icons_style></icons_style>
                <media_icons_style></media_icons_style>
                <social_icons_color></social_icons_color>
                <media_icons_color></media_icons_color>
                <media_icons_bg></media_icons_bg>
                <media_border_color></media_border_color>
                <np_arrow_color></np_arrow_color>
                <np_arrow_bg></np_arrow_bg>
                <np_arrow_color_hover></np_arrow_color_hover>
                <np_arrow_bg_hover></np_arrow_bg_hover>
                <slider_nav_style></slider_nav_style>
                <slider_arrow_color></slider_arrow_color>
                <slider_arrow_bg></slider_arrow_bg>
                <slider_arrow_color_hover></slider_arrow_color_hover>
                <slider_arrow_bg_hover></slider_arrow_bg_hover>
                <slider_dots_style></slider_dots_style>
                <slider_dots_color></slider_dots_color>
                <slider_dots_color_active></slider_dots_color_active>
                <close_icon_color></close_icon_color>
                <close_bg_color></close_bg_color>
                <close_icon_color_hover></close_icon_color_hover>
                <close_bg_color_hover></close_bg_color_hover>
                <related_active_bg></related_active_bg>
                <related_active_border_color></related_active_border_color>
                <related_cart_icon></related_cart_icon>
                <related_cart_color></related_cart_color>
                <related_cart_bg></related_cart_bg>
                <related_cart_color_hover></related_cart_color_hover>
                <related_cart_bg_hover></related_cart_bg_hover>
                <related_wishllist_color></related_wishllist_color>
                <related_wishllist_bg></related_wishllist_bg>
                <related_wishllist_color_hover></related_wishllist_color_hover>
                <related_wishllist_bg_hover></related_wishllist_bg_hover>
                <related_img_borderradius></related_img_borderradius>
                <related_actions_borderradius></related_actions_borderradius>
            </modal>
            <product_page_block>
                <background></background>
                <color></color>
                <shadow></shadow>
                <border></border>
                <border_color></border_color>
                <border_radius></border_radius>
                <padding></padding>
                <padding_mobile></padding_mobile>
                <margin_top></margin_top>
                <margin_bottom></margin_bottom>
            </product_page_block>
            <appearance_custom>
                <custom_css_enabled></custom_css_enabled>
                <custom_css_content></custom_css_content>
            </appearance_custom>
        </olegnax_instagram_pro_appearance>
    </default>
</config>