<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Label Cache Cleaner for Qty Variable
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Service\OrderService">
        <plugin name="Amasty_LabelCacheCleanerForQtyVariable::ClearCache"
                type="Amasty\LabelCacheCleanerForQtyVariable\Plugin\Sales\Model\Service\OrderService\ClearCache" />
    </type>
</config>
