<div class="checkout-review-section">
    <div class="package-details">
        <h3 class="section-title">Package Details:</h3>
        <ul class="package-details-list">
            <li>Two nights accommodations at the Doubletree Marina del Rey</li>
            <li>Marina del Rey is 20 minutes from LAX Airport & home to great shopping, dining, and day cruise options home to great shopping, dining, and day cruise options</li>
            <li>Check in Wednesday December 31, 2025; Check out Friday, January 2, 2026</li>
            <li>Reserved Grandstand Ticket to the 2026 Rose Parade on January 1st</li>
            <li>Tickets are located on Colorado Ave towards the beginning of the parade</li>
            <li>The sun will be at your back during the parade</li>
            <li>Ticket to the Post Parade Viewing Showcase of Floats</li>
            <li>See the floats up-close after the conclusion of the parade</li>
            <li>Roundtrip transportation to all activities</li>
            <li>Lunch provided at a local Pasadena restaurant following the Rose Parade (January 1)</li>
            <li>Full lunch with dessert, soft drinks, iced tea, and coffee</li>
            <li>Cash bar available</li>
            <li>Transportation to Post-Parade Viewing after lunch has concluded</li>
            <li>Grab & Go breakfast on the morning of the Rose Parade (January 1)</li>
            <li>Breakfast served in the hotel restaurant on January 2</li>
            <li>Private, roundtrip transportation and meet & greet from Los Angeles International Airport - LAX (can be removed)</li>
            <li>Rose Parade Souvenir Program</li>
            <li>Complimentary wi-fi at the hotel</li>
            <li>Staff onsite to assist</li>
            <li>Ticket holder and lanyard</li>
            <li>All taxes</li>
            <li>Please Note: Airfare is not included</li>
        </ul>
        <p class="payment-info">Book your package with a $250 per person deposit, 50% of the remaining balance due on May 20, 2025, and final payment due on October 16, 2025</p>
    </div>
    
    <div class="cancellation-policy">
        <h3 class="section-title">Cancellation Policy</h3>
        <ul class="cancellation-policy-list">
            <li>This rate is non-refundable. If you change or cancel your booking you will not get a refund or credit to use for a future stay.</li>
            <li>No refunds will be issued for late check-in or early check-out.</li>
            <li>Stay extensions require a new reservation.</li>
            <li>By selecting "Book Reservation", I acknowledge that I have reviewed the Terms and Conditions</li>
        </ul>
    </div>
</div>
