<!--@subject {{trans "You’re subscribed to a back in stock alert!"}} @-->
<!--@vars
{
"var product_name":"Product Name",
"var store_name":"Store Name",
"var unsubscribeUrl":"Unsubscribe Url"
}
@-->

<style>
    .details tr {
        text-align: center;
    }
</style>
<table>
    <tr class="email-intro">
        <td valign="top">
            <p>{{trans "Hello,"}}</p>
            <p>{{trans "You've successfully subscribed to back in stock alert for %product_name." product_name=$product_name | raw}}</p>
            <p>{{trans "We’ll let you know as soon as this product is back in stock."}}</p>
            <p>{{trans "You can unsubscribe from stock alerts anytime by clicking "}}<a href="{{var unsubscribeUrl}}">{{trans "here."}}</a></p>
            <p>{{trans "Best Regards, %store_name." store_name=$store_name | raw}}</p>
        </td>
    </tr>
</table>
