<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Amasty Mega Menu PageBuilder for Magento 2 (System)
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilder\Model\Config">
        <plugin name="Amasty_MegaMenuPageBuilder::fix_slider_for_234"
                type="Amasty\MegaMenuPageBuilder\Plugin\PageBuilder\Model\ConfigPlugin" />
    </type>
</config>
