<?xml version="1.0"?>
<!--
/**
 * @author Azaleasoft Team
 * @copyright Copyright (c) 2017 Azaleasoft (http://www.azaleasoft.com)
 * @package Azaleasoft_Asaddressvalidation
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Azaleasoft_Asaddressvalidation::config_asaddressvalidation" title="Azaleasoft Address Validation" sortOrder="180" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>